/* admin.css */

body {
    background-color: #b8ec7d;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }

  /* Styling for table rows */
.table tbody tr:nth-child(even) {
  background-color: #73ac28; 
}


  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  
  .edit-button, .delete-button {
    padding: 8px 12px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button {
    background-color: #3498db;
  }
  
  .delete-button {
    background-color: #e74c3c;
  }
  
  .edit-button:hover, .delete-button:hover {
    background-color: #2980b9;
  }
  
  .back-button {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    margin: 0 auto;
  }
  
  .back-button:hover {
    background-color: #2980b9;
  }
  