.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a1f1dd;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    display: block;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  